@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #05051f;
  --white: #f3eded;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  text-align: center;
  font-family: "Inter", sans-serif;
  background: var(--background-color);
  color: var(--white);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* NOTE: Next might be deprecating this while migration to App router */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  top: 0;
}

main {
  position: relative;
  display: flex;
  flex: 1;
}

footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 10px 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
